# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Logs
*.log

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Docker
*.tar

# Build
dist/
build/
