fastapi==0.116.1
uvicorn==0.35.0

python-dotenv==1.1.1

pydantic==2.11.7

httpx==0.28.1

psycopg[binary]==3.2.9

numpy==2.2.6

sentence-transformers==5.0.0

torch==2.7.0

transformers==4.53.0

tokenizers==0.21.2

safetensors==0.5.3

huggingface_hub==0.33.4

scikit-learn==1.7.1

scipy==1.15.2

kafka-python==2.2.15

boto3==1.39.14

pypdf==5.6.1
